<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/semantic.min.css">
</head>
<body>
    <div class="ui container">
        <div class="ui menu">
            <a href="/" class="item" >home</a>
        </div>
    </div>
    <div style="height:50px;"></div>
    {% block main %}

    {% endblock %}
    <script src="/static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/semantic.min.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>