{% extends "base.html" %}

{% block main %}
<div class="ui container">
    <p>
        内容对齐的方式有浮动、top、middle、bottom等，是通过类的组合实现：clearing, left floated, right floated, bottom aligned, middle aligned, centered。
        可以进行内容对其的元素或者视图包括 items 等
    </p>
    <div class="ui header">
        items
    </div>
    <div class="ui items">
        <div class="item">
            <div class="image">
                <img src="/static/img/1224344.jpeg" alt="">
            </div>
            <div class="middle aligned content">
                <div class="meta">
                    <span>2017-10-1</span>
                </div>
                <div class="description">
                    description
                </div>
                <div class="extra">
                    <button class="ui right floated button">right</button>
                </div>
            </div>
        </div>
    </div>
    <div class="ui header">
        segment float and text aligne
    </div>
    <div class="ui clearing segment">
        <div class="ui right floated segment">
            right
        </div>
        <div class="ui left floated segment">
            left
        </div>
    </div>
    <div class="ui clearing segment">
        clearing float
        <button class="ui right floated button">right</button>
    </div>
    <div class="ui right aligned segment">
      Right
    </div>
    <div class="ui left aligned segment">
      Left
    </div>
    <div class="ui center aligned segment">
      Center
    </div>
    <div class="ui header">
        cards
    </div>
    <div class="ui centered card">
      <div class="image">
            <img src="/static/img/1224344.jpeg" alt="">
      </div>
      <div class="content">
            <a class="header">Elyse</a>
      </div>
    </div>
    <div class="ui card">
      <div class="content">
        <div class="header">Cute Dog</div>
        <div class="meta">
          <span class="right floated time">2 days ago</span>
          <span class="category">Animals</span>
        </div>
        <div class="description">
          <p></p>
        </div>
      </div>
      <div class="extra content">
        <div class="right floated author">
            <img class="ui avatar image" src="/static/img/1224344.jpeg" alt="">Mate
        </div>
      </div>
    </div>
</div>
{% endblock %}